
  <app-menu></app-menu>
  <div class="page-content bg-white">
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <div class="mask rgba-black-light" style="
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #080d15;
            opacity: .7;
        "></div>
            <img class="d-block w-100" src="assets/images/slider/image1.jpg"
              alt="First slide">
         
          </div>
        
          
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <div class="mask rgba-black-light" style="
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #080d15;
            opacity: .7;
        "></div>
            <img class="d-block w-100" src="assets/images/slider/image1.jpg"
              alt="Second slide">
     
          </div>
          
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <div class="mask rgba-black-light" style="
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #080d15;
            opacity: .7;
        "></div>
            <img class="d-block w-100" src="assets/images/slider/image1.jpg"
              alt="Third slide">
   
          </div>
         
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>

    <!-- Main Slider -->
    
    
</div>  

  
<div class="section-area section-sp2 popular-courses-bx" style="background-image:url(assets/images/background/bg4.jpg); background-size:cover;">
    <!-- Main Slider -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading-bx style1 text-center">
          <h2 class="title-head">AZERTY</h2>
      
        </div>
      </div>
      <div class="row m-b50">
        <div class="col-lg-4 col-md-6" *ngFor="let formation of taskService.formations">
          <div class="services-bx text-left m-b30">
            <div class="feature-lg text-white m-b30">
              <span class="icon-cell"><i class="flaticon-professor"></i></span> 
            </div>
            <div class="icon-content">
              <h5 class="ttr-tilte">{{formation.titre}}</h5>
              <p>{{formation.description}}</p>
              <a [routerLink]="['/Detaile_Formation',formation._id]" class="readmore">Learn More <i class="la la-arrow-right"></i></a>
            </div>
            <div class="service-no">01</div>
          </div>
        </div>
        
       
      </div>
    </div>
  </div>
    <!-- Main Slider -->
<div class="content-block">
        
  <!-- Our Services -->

        
        <!-- Our Services END -->
  
  <!-- Popular Courses -->
  <div class="section-area section-sp2 popular-courses-bx">
            <div class="container">
      <div class="row">
        <div class="col-md-12 heading-bx left">
          <h2 class="title-head">GET <span>WIRELESS</span></h2>
          <p>GetWireless is a leading Value-Added Distributor of cellular solutions that connect the Internet of Things. GetWireless engages strategically with channel partners, providing programs that fit numerous business models. Explore how our innovative channel programs can accelerate your IoT initiatives.</p>
        </div>
      </div>

</div>
</div>
  <!-- Popular Courses END -->
  
  <!-- Form -->
  <div class="section-area section-sp1 ovpr-dark bg-fix online-cours" style="background-image:url(assets/images/background/event1.jpg);">
    <div class="container">
     <!-- <div class="row">
        <div class="col-md-12 text-center text-white">
          <h2>Online Courses To Learn</h2>
          <h5>Own Your Feature Learning New Skills Online</h5>
          <form class="cours-search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="What do you want to learn today?	">
              <div class="input-group-append">
                <button class="btn" type="submit">Search</button> 
              </div>
            </div>
          </form>
        </div>
      </div>-->
      <div class="mw800 m-auto">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="cours-search-bx m-b30">
              <div class="icon-box">
                <h3><i class="ti-user"></i><span class="counter">X</span>X</h3>
              </div>
              <span class="cours-search-text">stats</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="cours-search-bx m-b30">
              <div class="icon-box">
                <h3><i class="ti-book"></i><span class="counter">X</span>X</h3>
              </div>
              <span class="cours-search-text">Stats</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="cours-search-bx m-b30">
              <div class="icon-box">
                <h3><i class="ti-layout-list-post"></i><span class="counter">X</span>X</h3>
              </div>
              <span class="cours-search-text">stats</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form END -->
  <div class="section-area section-sp2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center heading-bx">
          <h2 class="title-head m-b0">OUR <span>PROJECTS</span></h2>
          <p class="m-b0">XX </p>
        </div>
      </div>
      <div class="row">
      <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
        <div class="item">
          <div class="event-bx">
            <div class="action-box">
              <img src="assets/images/event/event1.jpg" alt="">
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <div class="event-date">29</div>
                  <div class="event-month">October</div>
                </div>
              </div>
              <div class="event-info">
                <h4 class="event-title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h4>
                <ul class="media-post">
                  <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                  <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a></li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the..</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="event-bx">
            <div class="action-box">
              <img src="assets/images/event/event1.jpg" alt="">
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <div class="event-date">29</div>
                  <div class="event-month">October</div>
                </div>
              </div>
              <div class="event-info">
                <h4 class="event-title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h4>
                <ul class="media-post">
                  <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                  <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a></li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the..</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="event-bx">
            <div class="action-box">
              <img src="assets/images/event/event1.jpg" alt="">
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <div class="event-date">29</div>
                  <div class="event-month">October</div>
                </div>
              </div>
              <div class="event-info">
                <h4 class="event-title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h4>
                <ul class="media-post">
                  <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                  <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a></li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="text-center">
        <a href="#" class="btn">View All Event</a>
      </div>
    </div>
  </div>
  
  <!-- Testimonials -->
  <div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url(assets/images/background/event1.jpg);">
            <div class="container">
      <div class="row">
        <div class="col-md-12 text-white heading-bx left">
          <h2 class="title-head text-uppercase">what people <span>say</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
      <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
        <div class="item">
          <div class="testimonial-bx">
            <div class="testimonial-thumb">
              <img src="assets/images/testimonials/pic1.jpg" alt="">
            </div>
            <div class="testimonial-info">
              <h5 class="name">Peter Packer</h5>
              <p>-Art Director</p>
            </div>
            <div class="testimonial-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type...</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-bx">
            <div class="testimonial-thumb">
              <img src="assets/images/testimonials/pic2.jpg" alt="">
            </div>
            <div class="testimonial-info">
              <h5 class="name">Peter Packer</h5>
              <p>-Art Director</p>
            </div>
            <div class="testimonial-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonials END -->
  
  <!-- Recent News -->
  <div class="section-area section-sp2">
            <div class="container">
      <div class="row">
        <div class="col-md-12 heading-bx left">
          <h2 class="title-head">Recent <span>News</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
      <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
        <div class="item">
          <div class="recent-news">
            <div class="action-box">
              <img src="assets/images/blog/latest-blog/event2.jpg" alt="">
            </div>
            <div class="info-bx">
              <ul class="media-post">
                <li><a href="#"><i class="fa fa-calendar"></i>Jan 02 2019</a></li>
                <li><a href="#"><i class="fa fa-user"></i>By William</a></li>
              </ul>
              <h5 class="post-title"><a href="blog-details.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <div class="post-extra">
                <a href="#" class="btn-link">READ MORE</a>
                <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 Comment</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="recent-news">
            <div class="action-box">
              <img src="assets/images/blog/latest-blog/event2.jpg" alt="">
            </div>
            <div class="info-bx">
              <ul class="media-post">
                <li><a href="#"><i class="fa fa-calendar"></i>Feb 05 2019</a></li>
                <li><a href="#"><i class="fa fa-user"></i>By John</a></li>
              </ul>
              <h5 class="post-title"><a href="blog-details.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <div class="post-extra">
                <a href="#" class="btn-link">READ MORE</a>
                <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>14 Comment</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="recent-news">
            <div class="action-box">
              <img src="assets/images/blog/latest-blog/event2.jpg" alt="">
            </div>
            <div class="info-bx">
              <ul class="media-post">
                <li><a href="#"><i class="fa fa-calendar"></i>April 14 2019</a></li>
                <li><a href="#"><i class="fa fa-user"></i>By George</a></li>
              </ul>
              <h5 class="post-title"><a href="blog-details.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <div class="post-extra">
                <a href="#" class="btn-link">READ MORE</a>
                <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>23 Comment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Recent News End -->
  
    </div>
    <app-footer></app-footer>